<% content_for :top_content do %>
<div class="container">
	<!-- <%= @question.inspect %>  -->
	<h1 align="center"><b> <%= @question.subgenre %> Quiz</b> </h1>
	<table class="table table-hover">
		<tr>
			<td><h2>Your Highest Score: <%= $highscore %></h2> </td>
			<td><h2>Current Score: <%= $score %> </h2></td>
		</tr>
	</table> 
	<div class="deck-box">
		<h3><strong>Question <%= $p+1 %></strong></h3>
		<strong><%= @question.content %></strong><br>
		<form action= <%= @question.quiz_type.to_s %> method="post">
			<% if @question.ans1 > 10 %>
			<div class="checkbox">
				<label><%= check_box_tag(:A) %><%= @question.op1 %> </label>
			</div>
			<div class="checkbox">
				<label><%= check_box_tag(:B) %> <%= @question.op2 %> </label>
			</div>
			<div class="checkbox">
				<label><%= check_box_tag(:C) %> <%= @question.op3 %> </label>
			</div>
			<div class="checkbox">
				<label><%= check_box_tag(:D) %> <%= @question.op4 %> </label>   
			</div><br>
			<% else %>
			<div class="radio">
				<label><%= radio_button_tag(:answer,"1") %><%= @question.op1 %> </label>
			</div>
			<div class="radio">
				<label><%= radio_button_tag(:answer,"2") %><%= @question.op2 %> </label>
			</div>	
			<div class="radio">
				<label><%= radio_button_tag(:answer,"3") %><%= @question.op3 %> </label>
			</div>	
			<div class="radio">
				<label><%= radio_button_tag(:answer,"4") %><%= @question.op4 %> </label>
			</div><br>
			<% end %>	
			<input type="submit" name="Submit" value="Submit" class="btn btn-default btn-lg">	
		</form>
	</div>


</div>
<% end %>
