<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Profile of <%=@user.name%></h1>
      <p>Awesome Quizzer :)</p>
      <p>
        <b>User ID:</b> <%=@user.id%><br>
		    <b>Email:</b> <%=@user.email%><br>
        <b>Type:</b> <% if @user.user_type%> Admin <% else %> Quizzer <% end %>
      </p>
    </div>
  </div>
  <h2 align="center"> <b>ScoreCard </b></h2>
  <hr>
  <div class="container table-responsive">
  <h2> Sports Quiz </h2>
  <table class="table table-hover">
  <tr class="active">
    <th width="50%">
      Sub Genre
    </th>
    <th width="50%">
      Score
    </th>
  </tr>
  <tr>
   <td width="50%">Cricket </td>
   <td width="50%"><%= $hsc1 %></td>
   </tr>
   <tr>
   <td width="50%">Football </td>
   <td width="50%"><%= $hsc2 %></td>
   </tr>      

  </table>
  </div>  

  <div class="container table-responsive">
  <h2> Movies Quiz </h2>
  <table class="table table-hover">
  <tr class="active">
    <th width="50%">
      Sub Genre
    </th>
    <th width="50%">
      Score
    </th>
  </tr>
  <tr>
   <td width="50%">Bollywood </td>
   <td width="50%"><%= $hsc3 %></td>
   </tr>
   <tr>
   <td width="50%">Hollywood </td>
   <td width="50%"><%= $hsc4 %></td>    
  </table>
  </div>  
<% end %>
